<div id="home" class="valign-wrapper center-align flex">
	<div>
		<div class="left-align">
			<h5>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</h5>
		</div>
		<div>
			<p>
				<h3>Pourquoi nous enrengistrons des données personnelles ?</h3>
			</p>
			<p>
				<ul class="collection">
					<li class="collection-item">Assistance aux personnes non habituées à l'outil numérique.</li>
					<li class="collection-item">Statistiques sur l'ergonomie supposée des pages du site.</li>
					<li class="collection-item">Améliorer globalement l'expérience utilisateur</li>
				</ul>
			</p>
		</div>
	</div>
</div>
