<div id="form" class="row">
	<form method="get" class="col s12">
		<div class="row">
			<div class="input-field col s6">
			  <input placeholder="Insérez votre nom" id="nom" type="text" class="validate">
			  <label for="nom">Nom</label>
			</div>
			<div class="input-field col s6">
			  <input placeholder="Insérez votre prénom" id="prenom" type="text" class="validate">
			  <label for="prenom">Prénom</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
			  <input placeholder="Insérez votre date de naissance" id="dateDeNaissance" type="text" class="datepicker validate">
			  <label for="dateDeNaissance">Date de naissance</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
			  <input placeholder="Insérez votre numéro de carte banquaire" id="codeBanquaire" type="text" class="validate">
			  <label for="codeBanquaire">Code banquaire</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
			  <input placeholder="Insérez la date de validité" id="dateValidite" type="text" class="validate">
			  <label for="dateValidite">Date de validité</label>
			</div>
			<div class="input-field col s6">
			  <input placeholder="Insérez votre code secret" id="codeSecret" type="text" class="validate">
			  <label for="codeSecret">Code secret</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select name="lieuDeNaissance" required id="lieuDeNaissance">
					<option>Nantes</option>
					<option>Bordeaux</option>
					<option>Brest</option>
					<option>Grenoble</option>
					<option>Lille</option>
					<option>Lyon</option>
					<option>Montpellier</option>
					<option>Paris</option>
				</select>
				<label  for="lieuDeNaissance">Lieu de  naissance</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 align-center">
				<label>Sexe</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">

				<label>
					<input name="sexe" type="radio" value="M"/>
					<span>Mâle</span>
				</label>
			</div>
			<div class="input-field col s6">
				<label>
					<input name="sexe" type="radio" value="F"/>
					<span>Femelle</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
			  <input id="text" type="text" required/>
			  <label for="text">Simple text</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
			  <input id="date" type="date" />
			  <label for="text">Simple date</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="pattern" type="text" pattern="\d*" required/>
				<label for="pattern">Simple pattern</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" name="customer_name" required>
				<label for="customer_name">nom Client</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="tel" name="phone_number">
				<label for="phone_number">Numéro de téléphone</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="email" name="email_address"/>
				<label for="email_address">Email</label>
			</div>
		</div>
		<div class="row">
			<fieldset class="input-field col s12">
				<legend>De quoi avez vous besoin ?</legend>
				<p><label> <input type="radio" name="taxi" required value="car"/><span>Car</span></label></p>
				<p><label> <input type="radio" name="taxi" required value="van"/><span>Van</span></label></p>
				<p><label> <input type="radio" name="taxi" required value="tuktuk"/><span>Tuk Tuk</span></label></p>
			</fieldset>
		</div>
		<div class="row">
			<fieldset class="input-field col s12">
				<legend>Extras</legend>
				<p><label> <input type="checkbox" class="filled-in" name="extras" value="baby"/><span>Baby Seat</span></label></p>
				<p><label> <input type="checkbox" class="filled-in" name="extras" value="wheelchair"/><span> Wheelchair Access</span></label></p>
				<p><label> <input type="checkbox" class="filled-in" name="extras" value="tip"/><span> Stock Tip</span></label></p>
			</fieldset>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="date" name="pickup_time" required/>
				<label for="pickup_time">Simple Date 2/Time</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="pickup_place" name="pickup_place">
				<option value="" selected="selected">Un</option>
				<option value="office" >Taxi Office</option>
				<option value="town_hall" >Town Hall</option>
				<option value="telepathy" >We'll Guess!</option>
				</select>
				<label for="pickup_place">Sélectionez un emplacement</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<datalist id="destinations">
					<option value="Airport">
					<option value="Beach">
					<option value="Fred Flinstone's House">
				</datalist>
				<input type="text" name="dropoff_place" required list="destinations"/>
				<label for="dropoff_place">Zone de largade</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea class="materialize-textarea" name="comments" maxlength="500"></textarea>
				<label for="comments">Instructions spéciales</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6 push-s6">
				<button class="btn waves-effect waves-light" type="submit">
					S'inscrire
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>	
