<div id="form">
  <form method="get">
    <label class="flex"><span>Nom</span><input type="text" name="nom"/></label>
    <label class="flex"><span>Prénom</span><input type="text" name="prenom"/></label>
    <label class="flex"><span>Age</span><input type="number" min="18" name="age"/></label>
    <label class="flex"><span>Date de naissance</span><input type="date" name="dateDeNaissance"/></label>
    <label class="flex"><span>Code banquaire</span><input type="number" min="0" name="codeBanquaire"/></label>
    <label class="flex"><span>Date de validation</span><input type="date" name="dateValidation"/></label>
    <label class="flex"><span>Code secret</span><input type="text" pattern="\d{3}" title="Trois chiffres" name="codeSecret"/></label>
    <label class="flex"><span>Lieu de  naissance</span><select required name="lieuDeNaissance">
		<option></option>
		<option>Nantes</option>
		<option>Bordeaux</option>
		<option>Brest</option>
		<option>Grenoble</option>
		<option>Lille</option>
		<option>Lyon</option>
		<option>Montpellier</option>
		<option>Paris</option>
	</select></label>
    <label class="flex"><span>Sexe</span>
		<div>Mâle<input type="radio" name="sexe" value="M"/></div>
		<div>Femelle<input type="radio" name="sexe" value="F"/></div>
	</label>
    </span><input type="submit" value="Valider"/>
  </form>

