<div id="home" class="valign-wrapper center-align flex">
	<div>
		<h3>
			<ul>
				<li>
					<a href="/form">Formulaire</a>
				</li>
				<li>
					<a href="/search">Recherche</a>
				</li>
				<li>
					<a href="#">Local</a>
				</li>
			<ul>
		</h3>
	</div>
</div>
