<div id="home" class="row valign-wrapper flex">
	<div class="col s8 offset-s2 flex-column">
		<div class="row">
			<div class="col s12 card-panel hoverable">
					<a href="/formulaire">Formulaire</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 card-panel hoverable">
					<a href="/recherche">Recherche</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 card-panel hoverable">
					<a href="#">Local</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 card-panel hoverable">
					<a href="/a_propos">A propos</a>
			</div>
		</div>
	</div>
</div>
