<div id="home" class="flex">
	<div>
		<h1>HOME</h1></div>
	<div><h3><ul>
		<li><a href="/form">Formulaire</a></li>
		<li><a href="/search">Recherche</a></li>
	<ul></h3></div>
</div>
<div id="speed"></div>
<div id="click"></div>

<div id="helper" class="large">
	<div class="close">
		<button onclick="toogleHelper(this)">X</button>
	</div>
	<div class="small flex-center">
		<button onclick="toogleHelper(this)">?</button>
	</div>
	<div class="large flex-column">
		<div><h2>Besoin d'aide ?</h2></div>
		<div><h4><a href="#" onclick="showHelp()">Cliquez ici</a></h4></div>
	</div>
</div>

<div id="helper-container">
	<div id="helper-bg"></div>
	<div id="helper-content">
		HELP
	</div>
</div>