<div id="search">
	<div id="input">
		<form class="flex" method="post" action="search">
			<input type="text"/>
		  <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher
			<i class="material-icons right">search</i>
		  </button>
		</form>
	</div>
	<div id="list" class="collection">
		{{#each results}}
		<div class="collection-item">
			<div class="title">{{this.title}}</div>
			<div class="flex description">
				<div class="text">{{this.description}}</div>
				<div class="rating">{{this.rating}} / 10</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>