<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Portail</title>
	
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
	<link rel="stylesheet" href="css/engine.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
</head>
<body>
	<div id="main-container" class="container">
		<div id="main">
			{{{body}}}
		</div>
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	
	<script>
		const BACK_ENDPOINT = "{{settings.BACK_ENDPOINT}}"
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
			"popup": {
			  "background": "#1d8a8a"
			},
			"button": {
			  "background": "#62ffaa"
			}
		  },
		  "content": {
			"message": "Ce site web utilise des cookies afin de gérer au mieux votre expérience.",
			"dismiss": "J'ai compris",
			"link": "En savoir plus",
			"href": "/about"
		  }
		})})
		</script>
	<script src="js/engine.js"></script>
	<script src="js/main.js"></script>
</body>
</html>